{% extends 'homepage/base.html' %}
{% load static i18n %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <!-- Display Partner(s) -->
    <div id="partners-section"></div>
    <!--If user already has matches:-->
    {% if partners %}
        <!--a buddy can have multiple PARTNERS, an international student only has one PARTNER-->
        {% if user.role == 'Buddy' %}
            <h2>{% trans "Your Partners" %}</h2>
        {% else %}
            <h2>{% trans "Your Partner" %}</h2>
        {% endif %}
        <ul class="partners_list">
            {% for partner in partners %}
                <li class="partners_list_item">
                    <strong>{{ partner.first_name }} {{ partner.surname }}</strong>
                    <br>
                    Email: {{ partner.email }}
                </li>
            {% endfor %}
        </ul>
        <!--If user has no matches (yet):-->
    {% else %}
        <!--again multiple vs. one partner(s:-->
        {% if user.role == 'Buddy' %}
            <p>{% trans "You currently have no partners." %}</p>
        {% else %}
            <p>{% trans "You currently have no partner." %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
