/* imports font according to TUDa Corporate Design (https://www.intern.tu-darmstadt.de/arbeitsmittel/corporate_design_vorlagen/index.de.jsp) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*
    GLOBAL VARIABLES
*/
:root {
  /*margin sizes*/
  --size-space-250: 10px; /* for mobile devices */
  --size-space-500: 20px;

  /*border*/
  --border-radius-200: 8px;
  --border-input-width: 1px;
  --border-box-width: 1px;

  /*padding sizes*/
  --size-space-100: 4px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-400: 16px;
  --size-space-600: 24px;
  --size-space-1600: 64px;

  /*font-size & weight*/
  --small-body-font-size: 16px;
  --medium-body-font-size: 18px;
  --body-font-weight: 400;

  /*colors*/
  --border-input-color: #ccc;
  --ISS-light-blue-color: #0080c933;
  --ISS-medium-blue-color: #0080c9;
  --ISS-dark-blue-color: #0070b0;
  --ISS-orange-color: #e5a000;
  --ISS-light-orange-color: #fff7e6;
  --text-color: #333;
}

/*
  NOTE: we followed a desktop-first approach for the styling of the website; the implementation for mobile devices can
  be found at the end of the file
*/

/*
    GLOBAL STYLES
*/
body {
  font-family:
    "Roboto", sans-serif; /* Roboto font is used in websites by TU Darmstadt (see: https://www.intern.tu-darmstadt.de/arbeitsmittel/corporate_design_vorlagen/index.de.jsp)*/
  margin: var(--size-space-500);
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

h1 {
  color: var(--ISS-dark-blue-color);
  font-size: 40px;
  font-weight: 700;
}

h2 {
  color: var(--ISS-dark-blue-color);
  font-size: 32px;
  font-weight: 700;
}

h3 {
  color: var(--ISS-orange-color);
  font-size: 32px;
  font-weight: 700;
}

/* general styling */
input,
select,
input[type="number"],
textarea {
  flex: 1;
  padding: var(--size-space-300) var(--size-space-400);
  border: var(--border-input-width) solid var(--border-input-color);
  border-radius: var(--border-radius-200);
  font-size: var(--small-body-font-size);
  color: var(--text-color);
  box-sizing: border-box;
}
/* specifics */
select {
  /*makes apperance uniform across devices*/
  appearance: none; /* removes default browser properties */
  -webkit-appearance: none; /* for Safari */
  -moz-appearance: none; /* for Firefox */
  background-color: white; /* backgroundcolor */

  cursor: pointer;
}
textarea {
  resize: none;
}

/*
  REPEATED STYLES:
*/

/*BUTTONS (topnav has own definition)*/
.button {
  /* reset and box sizing */
  all: unset;
  box-sizing: border-box;
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  flex: 1;
  flex-grow: 1;
  position: relative;
  /* styling */
  background-color: var(--ISS-medium-blue-color);
  color: #fff;
  border-radius: var(--border-radius-200);
  overflow: hidden;
  cursor: pointer;
  padding: var(--size-space-300);
}
.button:hover {
  background-color: var(--ISS-medium-blue-color);
  color: black;
  border-radius: var(--border-radius-200);
}
/* size and positioning per button id*/
#submitAccountButton,
#loginButton {
  align-self: stretch;
}
#feedbackButton {
  align-self: flex-start;
  width: fit-content;
}
#exportFeedbackButton {
  width: fit-content;
}
#languageButton {
  /* removes global styling of buttons (here unwanted) */
  all: unset;
  padding: 0;
}

/* admin buttons: orange */
.toggle-permission,
#deletePartnersButton,
#extendAccountButton,
.btn_btn-warning,
#delete_user {
  all: unset;
  background-color: var(--ISS-orange-color);
  color: black;
  border-radius: var(--border-radius-200);
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: var(--size-space-100);
  white-space: nowrap; /* only one line text */
}
.toggle-permission:hover,
#deletePartnersButton:hover,
#extendAccountButton:hover,
.btn_btn-warning:hover,
#delete_user:hover {
  background-color: var(--ISS-orange-color);
  color: #fff;
  border-radius: var(--border-radius-200);
}

/*TEXT LINKS (href outside of buttons)*/
.text-link {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: start;
  width: 100%;
  flex: 0 0 auto;
  color: #333;
  font: var(--small-body-font-size);
  font-weight: var(--body-font-weight);
  text-decoration: underline;
}
.pdf-link {
  color: #333;
  font: var(--small-body-font-size);
  font-weight: var(--body-font-weight);
  text-decoration: underline;
}
#cancle_delete{
  background-color: var(--ISS-medium-blue-color);
  color: #fff;
  border-radius: var(--border-radius-200);
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: var(--size-space-100);
  white-space: nowrap; /* only one line text */
  text-decoration: none;
}

/*FORMBOX label + input (in account_creation and feedback)*/
.form-box {
  display: flex; /* places elements next to each other */
  align-items: center; /* center vertically */
  gap: var(--size-space-400); /* distance between label and input */
  padding: var(--size-space-100);
}

/*
    NAVIGATION
*/
.topnav {
  display: flex;
  flex-wrap: wrap;

  width: calc(
    100% - 80px
  ); /* full width: topnav spans full width of website; nav-items start further right*/
  margin-left: -20px;
  padding: 0px var(--size-space-1600);

  height: auto;
  align-items: center;
  gap: var(--size-space-200);
  position: relative;

  background-color: var(
    --ISS-light-blue-color
  ); /* add light blue color to the top navigation bar*/
}

.topnav a {
  /* base */
  font-size: var(--small-body-font-size);
  color: var(--text-color);

  /* style the links inside the navigation bar */
  text-align: center;
  padding: var(--size-space-200);
  text-decoration: none;
}

/* add color to active element */
.topnav a.active {
  background-color: var(--ISS-medium-blue-color);
  color: white;
  border-radius: var(--border-radius-200);
}
.topnav a:hover.active,
.topnav button:hover {
  background-color: var(--ISS-medium-blue-color);
  color: black;
  border-radius: var(--border-radius-200);
}
.topnav a:hover:not(.active) {
  /* add hover effect to all elements except the active one */
  background-color: var(--ISS-light-blue-color);
  color: black;
  border-radius: var(--border-radius-200);
}

/* Profile Icon */
.topnav .profileIcon {
  width: 18px;
  height: auto;
}

.topnav .profile-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--size-space-200);
}

/* Login- and Logout-Buttons */
.topnav .loginButton,
.topnav form {
  margin-left: auto;
}

.topnav .loginButton,
.topnav button {
  /* base */
  font-size: var(--small-body-font-size);
  color: var(--text-color);

  /* style the links inside the navigation bar */
  text-align: center;
  padding: var(--size-space-200);
  text-decoration: none;

  /* style the button */
  background-color: var(--ISS-medium-blue-color);
  color: white;
  border: none;
  border-radius: var(--border-radius-200);
  cursor: pointer;
}

/* Language Selection*/
.flag-icon {
  width: 30px;
  height: auto;
  border-radius: 3px; /* rounded corners */
}
.languageSelector {
  position: relative;
  /* push outside the viewport */
  transform: translateX(160%);
  transition: transform 0.3s ease;
  /* distance from login/ logout */
  margin-left: calc(-1 * var(--size-space-600));
}

.hamburger {
  display: none;
}

/*
    HOMEPAGE
*/
.homepage-header {
  display: flex;
  align-items: center;
  gap: var(--size-space-400);
  padding: var(--size-space-400);
}
.iss_logo {
  width: 150px;
  height: auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.homepage-body {
  display: flex;
  flex-wrap: nowrap;
}
/* var(--variable, fallbackValue), because browser sometimes has rendering problems */
.cover_image {
  /* position */
  margin: calc(
    -1 * var(--size-space-500, 20px)
  ); /* substracts margin, so that image starts at leftmost edge */
  overflow: hidden;

  height: 79vh;
  width: auto;

  /* rounded upper rigth corner */
  border-top-right-radius: 50%;
}
.homepage-text {
  text-align: justify;
  font-size: var(--medium-body-font-size);
  font-weight: var(--body-font-weight);

  max-width: 30%;
  margin-left: auto;
}
.about-us-text .line {
  display: block;
  margin-top: var(--size-space-200, 8px);
}

.admin-message {
  flex: 1;
  text-align: center;
  position: relative;

  /* box */
  border: solid var(--ISS-orange-color);
  border-radius: var(--border-radius-200);
  padding: var(--size-space-400);
  margin: var(--size-space-500, 20px) 0 var(--size-space-500, 20px) auto;

  /* ensures breaks if words are too long */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

/*
    LOGIN:
*/
.form-login {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-600);
  padding: var(--size-space-600);

  /*centering*/
  width: 28%;
  margin: var(--size-space-500) 0;

  /*styling of "box"*/
  background-color: white;
  border-radius: var(--border-radius-200);
  border: var(--border-box-width) solid var(--ISS-orange-color);
}
.loginLabel {
  position: relative;
  align-self: stretch;
  margin-bottom: -14px;
}
.loginInput {
  display: block;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400);
  width: 100%;
  border-radius: var(--border-radius-200);
  border: var(--border-input-width) solid var(--border-input-color);
  box-sizing: border-box;
  margin-bottom: var(--size-space-200);
}

/*
    CREATE ACCOUNT:
*/
.form-account-creation {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;

  /*centering*/
  width: 60%;
  margin: var(--size-space-500) 0;
}

.privacy-container {
  margin: var(--size-space-100) 0;
}
.checkbox-privacy-policy input[type="checkbox"] {
  vertical-align: middle;
}

.password-box {
  padding: var(--size-space-400);
  border: var(--border-box-width) solid var(--ISS-orange-color);
  border-radius: var(--border-radius-200);
  background-color: var(--ISS-light-orange-color);
  margin-top: var(--size-space-400);
  margin-bottom: var(--size-space-400);
}
.password-box label {
  display: block;
  margin-bottom: var(--size-space-200);
  font-size: var(--body-font-size);
  color: var(--text-color);
}
.password-box input {
  width: 100%;
  padding: 10px;
  border: var(--border-input-width) solid var(--border-input-color);
  border-radius: var(--border-radius-200);
  box-sizing: border-box;
  margin-bottom: var(--size-space-200);
}
.password-box .description {
  margin-top: var(--size-radius-200);
  font-size: var(--small-body-font-size);
  line-height: 1.5;
  color: gray;
}

/*
    ADMIN:
*/
/* edit homepage */
.form-edit-homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* 
  FEEDBACK: 
*/
.form-feedback {  /* similar to account creation */
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;

  /*centering*/
  width: 70%;
  margin: var(--size-space-500) 0;  
}

.form-control{
  margin-top: var(--size-space-100);
  width: 100%;
}


/* 
  MATCH(ES): 
*/
/* list with partners*/
.partners_list {
  list-style: none; /* removes bullet points */
  padding: 0; /* removes default padding (originally space for bullet point) */

  /* gap between list items*/
  display: flex;
  flex-direction: column;
  gap: var(--size-space-300);
}
.partners_list_item {
  /* styles box */
  border: var(--border-box-width) solid var(--border-input-color);
  border-radius: var(--border-radius-200);
  padding: var(--size-space-300) var(--size-space-400);
  box-sizing: border-box;
  /* styles text */
  font-size: var(--body-font-size);
  color: var(--text-color);
}
/* Add a pseudo-element for the custom bullet */
.partners_list_item::before {
  content: "";
  display: inline-block;
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: var(--size-space-200); /* Space between the image and text */
  background-image: url("/static/images/profile_icon.png"); /* Path to your PNG file */
  background-size: cover; /* Ensures the image covers the pseudo-element */
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* 
  PROFILE: 
*/
/* personal information */
.profile-content {
  /* styles box */
  border: var(--border-box-width) solid var(--ISS-orange-color);
  border-radius: var(--border-radius-200);
  background-color: var(--ISS-light-orange-color);
  padding: var(--size-space-300) var(--size-space-400);
  box-sizing: border-box;

  /* styles font */
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  color: var(--text-color);
}
.profile-content p:first-of-type {
  /* first p is highlighted*/
  color: var(--ISS-orange-color);
  font-weight: bold;
}

/* account deletion */
.account-deletion-warning {
  display: flex;
  align-items: center;
  gap: var(--size-space-200);
}
.btn_btn-warning {
  display: inline-block;
  margin-top: var(--size-space-200);
}

/*
  MOBILE STYLES
*/
@media only screen and (max-width: 600px) {
  /*break-point according to https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */
  /*
    GLOBAL STYLES
  */
  body {
    /*reduce margins for smaller screens*/
    margin: var(--size-space-250);
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
  }
  input,
  select,
  input[type="number"],
  textarea {
    width: 100%;
  }

  /*
      NAVIGATION:
  */
  /* Turn the horizontal topnav into a vertical sidebar */
  .topnav {
    flex-direction: column;

    width: 200px;
    height: 100vh;

    /* positioning */
    position: fixed;
    top: 0;
    right: 0;
    padding: var(--size-space-250) var(--size-space-250) var(--size-space-250);

    /* makes sure it sits on top */
    z-index: 1000;

    /* add opaque background color */
    background-color: var(--ISS-medium-blue-color);
  }
  .topnav a,
  .topnav button,
  .topnav form {
    width: 100%;
    margin: 0;
    text-align: left;
  }

  /* moves login/ logout button and profile in the middle */
  .topnav .loginButton,
  .topnav form,
  .topnav .profile-container {
    margin-left: 0;
  }
  .topnav .loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .languageSelector {
    position: static;
    transform: none;
  }

  /* move buttons down*/
  .topnav > *:first-child {
    margin-top: 50px;
  }
  /* move profile and login button to the bottom */
  .topnav > div.profile-container,
  .topnav > div.loginButton {
    order: 99;
    margin-top: auto;
  }
  .topnav > div.languageSelector {
    order: 100;
    margin-bottom: 100px;
  }

  /* Hamburger menu */
  .hamburger {
    align-self: flex-end;

    background: none;
    border: none;
    cursor: pointer;

    padding: 10px;
    /* bars underneath each other*/
    display: flex;
    flex-direction: column;
    gap: var(--size-space-100);
  }
  .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
  }
  /* move hamburger to the right */
  .sidenav-container {
    display: flex;
    flex-direction: column;
  }

  /* move and show sidenav */
  .topnav {
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .nav-open .topnav {
    transform: translateX(0);
  }

  /* move the page content to the left */
  .page-content {
    transition: transform 0.3s ease;
  }
  .nav-open .sidenav-container {
    transform: translateX(-220px);
  }

  /*
      HOMEPAGE:
  */
  .homepage-header {
    gap: var(--size-space-200);
  }
  .iss_logo {
    width: 100px;
    margin-left: -30px;
  }
  .homepage-body {
    display: flex;
    flex-wrap: wrap-reverse; /* default: image and text displayed next to each other; if zoomed in: text is displayed above image */
    justify-content: space-between;
    gap: var(--size-space-300);
  }
  .cover_image {
    /* positions at left-most edge */
    position: relative;
    left: -10%;
    margin-top: var(--size-radius-200);
    margin-bottom: calc(-1 * var(--size-space-600));

    height: auto;
    width: 105%;

    /* rounded upper rigth corner */
    border-top-right-radius: 1%;
    border-bottom-right-radius: 50%;
  }
  .homepage-text {
    max-width: 100%;
    margin-left: auto;
  }

  /*
      LOGIN:
  */
  .form-login {
    gap: var(--size-space-400);
    padding: var(--size-space-400);
    width: 90%;
    margin: var(--size-space-500) auto;
  }
  .loginInput {
    margin-bottom: var(--size-space-100);
  }

  /*
      CREATE ACCOUNT:
  */
  .form-account-creation {
    width: 100%; /* full width */
  }
  .form-account-creation .form-box {
    /* for mobile: not as repeated style */
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: var(--border-radius-200);
  }
  input[type="checkbox"] {
    /* checkboxes need special treatment somehow */
    flex: 0;
    width: auto;
    margin-right: var(--size-radius-200);
  }

  /* ADMIN: not yet optimized for smaller screens */

  /* 
    FEEDBACK: 
  */
  .form-feedback {
    width: 100%; /* full width */
    
  }
  .form-feedback .form-box {
    /* for mobile: not as repeated style */
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: var(--size-space-300);
  }

  /* 
    PROFILE: 
  */
  .profile-content {
    padding: var(--size-space-200) var(--size-space-300);
  }
  .account-deletion-warning {
    gap: calc(-1 * var(--size-space-200));
    flex-direction: column;
    align-items: flex-start;
  }

  /* MATCH(ES): no changes*/
}

/*
  TABLET STYLES
  currently more to make zooming in look more dynamic; could be expanded in future iterations
*/
@media only screen and (max-width: 768px) {
  /*break-point according to https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */
  .homepage-body {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: var(--size-space-300);

    flex-direction: column;
  }
  .cover_image {
    height: auto;
    width: 100%;
  }
  .homepage-text {
    max-width: 100%;
    margin-left: auto;
  }
}

.blur {
  filter: blur(5px);
  pointer-events: none; /* Prevents being able to click on objects in background */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* make sure that modal is in front of everything */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  z-index: 10000; /* make sure that modal is in front of everything */
}


