/* helloapp/static/helloapp/styles.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*
    GLOBAL VARIABLES
*/
:root {
  /*margin sizes*/
  --size-space-500: 20px;

  /*border*/
  --border-radius-200: 8px;
  --border-input-width: 1px;
  --border-box-width: 1px;

  /*padding sizes*/
  --size-space-100: 4px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-400: 16px;
  --size-space-600: 24px;
  --size-space-1600: 64px;

  /*font-size & weight*/
  --small-body-font-size: 16px;
  --medium-body-font-size: 18px;
  --body-font-weight: 400;

  /*colors*/
  --border-input-color: #ccc;
  --ISS-light-blue-color: #0080c933;
  --ISS-medium-blue-color: #0080c9;
  --ISS-dark-blue-color: #0070b0;
  --ISS-orange-color: #e5a000;
  --ISS-light-orange-color: #fff7e6;
  --text-color: #333;
}

/*
    GLOBAL STYLES
*/
body {
  font-family: "Roboto", sans-serif; /* Roboto font is used in websites by TU Darmstadt (see: https://www.intern.tu-darmstadt.de/arbeitsmittel/corporate_design_vorlagen/index.de.jsp)*/
  margin: 20px;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

h1 {
  color: var(--ISS-dark-blue-color);
  font-size: 40px;
  font-weight: 700;
}

h2 {
  color: var(--ISS-dark-blue-color);
  font-size: 32px;
  font-weight: 700;
}

input, select, input[type="number"] {
  flex: 1; 
  padding:  var(--size-space-300) var(--size-space-400);
  border: var(--border-input-width) solid var(--border-input-color);
  border-radius: var(--border-radius-200);
  font-size: var(--small-body-font-size);
  color: var(--text-color);
  box-sizing: border-box; 
}

select {
  /*makes apperance uniform across devices*/
  appearance: none; /* removes default browser properties */
  -webkit-appearance: none; /* for Safari */
  -moz-appearance: none; /* for Firefox */
  background-color: white; /* backgroundcolor */

  cursor: pointer;
}


/*
  REPEATED STYLES:
*/

/*BUTTONS (topnav has own definition)*/
.button {
  /* reset and box sizing */
  all: unset;
  box-sizing: border-box;
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  flex: 0 0 auto;
  flex: 1;
  flex-grow: 1;
  align-self: stretch;
  position: relative;
  /* styling */
  background-color: var(--ISS-medium-blue-color);
  color: #fff;
  border-radius: var(--border-radius-200);
  overflow: hidden;
  cursor: pointer;
  padding: var(--size-space-300);
}
.button:hover {
  background-color: var(--ISS-medium-blue-color);
  color: black;
  border-radius: var(--border-radius-200);
}
/* size and positioning per button id*/
#submitAccountButton, 
#loginButton {
  width: 100%;
}

/*TEXT LINKS (href outside of buttons)*/
.text-link {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: start;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fff;
  color: #333;
  font: var(--small-body-font-size);
  font-weight: var(--body-font-weight);
  text-decoration: underline;
}



/*
    NAVIGATION
*/
.topnav {
  display: flex;
  flex-wrap: wrap;

  width: calc(100% - 80px); /* full width: topnav spans full width of website; nav-items start further right*/
  margin-left: -20px;
  padding: 0px var(--size-space-1600);
  
  height: auto;
  align-items: center;
  gap: var(--size-space-200);
  position: relative;
  
  background-color: var(--ISS-light-blue-color); /* add light blue color to the top navigation bar*/
}

.topnav a {
  /* base */
  font-size: var(--small-body-font-size);
  color: var(--text-color);

  /* style the links inside the navigation bar */
  text-align: center;
  padding: var(--size-space-200);
  text-decoration: none;
}

/* add color to active element */
.topnav a.active {
  background-color: var(--ISS-medium-blue-color);
  color: white;
  border-radius: var(--border-radius-200);
}
.topnav a:hover.active,
.topnav button:hover{
  background-color: var(--ISS-medium-blue-color);
  color: black;
  border-radius: var(--border-radius-200);
}
.topnav a:hover:not(.active){ /* add hover effect to all elements except the active one */
  background-color: var(--ISS-light-blue-color);
  color: black;
  border-radius: var(--border-radius-200);
}

/* Login- and Logout-Buttons */
.topnav .loginButton,
.topnav form {
  margin-left: auto;
}
.topnav .loginButton,
.topnav button {
  /* base */
  font-size: var(--small-body-font-size);
  color: var(--text-color);

  /* style the links inside the navigation bar */
  text-align: center;
  padding: var(--size-space-200);
  text-decoration: none;

  /* style the button */
  background-color: var(--ISS-medium-blue-color);
  color: white;
  border: none;
  border-radius: var(--border-radius-200);
  cursor: pointer;
}

/* Language Selection*/
.languageSelector button {
  /* position in the topnav */
  position: absolute;
  left: 98%; /*moves the button to the right*/
  transform: translate(-50%, -50%); /* centers it both horizontally and vertically */

  /* removes global styling of buttons (here unwanted) */
  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
}
.flag-icon {
  width: 30px;
  height: auto;
  border-radius: 3px; /* Optional: Rundere Kanten für schöneres Design */
}


/*
    HOMEPAGE
*/
.homepage-header {
  display: flex; 
  align-items: center; 
  gap: var(--size-space-400); 
  padding: var(--size-space-400); 
}

.iss_logo {
  width: 150px;
  height: auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}



/*
    LOGIN:
*/
.form-login {
  display: flex; 
  flex-direction: column;
  gap: var(--size-space-600);
  padding: var(--size-space-600);

  /*centering*/
  width: 400px; 
  margin: var(--size-space-500) 0; 

  /*styling of "box"*/
  background-color: white;
  border-radius: var(--border-radius-200); 
  border: var(--border-box-width) solid var(--ISS-orange-color); 
}

.loginLabel {
  position: relative;
  align-self: stretch;
  margin-bottom: -14px
}

.loginInput {
  display: block;
  min-width: 240px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400);
  width: 100%;
  border-radius: var(--border-radius-200);
  border: var(--border-input-width) solid var(--border-input-color);
  box-sizing: border-box;
  margin-bottom: var(--size-space-200); 
}



/*
    CREATE ACCOUNT:
*/
.form-account-creation{
  display: flex; 
  flex-direction: column;
  gap: 0;
  padding: 0;

  /*centering*/
  width: 60%; 
  margin: var(--size-space-500) 0; 
}

.form-box {
  display: flex; /* places elements next to each other */
  align-items: center; /* center vertically */
  gap: var(--size-space-400); /* distance between label and input */
  padding: var(--size-space-100)
}

.password-box {
  padding: var(--size-space-400); 
  border: var(--border-box-width) solid var(--ISS-orange-color); 
  border-radius: var(--border-radius-200); 
  background-color: var(--ISS-light-orange-color);
  margin-top: var(--size-space-400); 
  margin-bottom: var(--size-space-400);
}
.password-box label {
  display: block;
  margin-bottom: var(--size-space-200); 
  font-size: var(--body-font-size);
  color: var(--text-color)
}
.password-box input {
  width: 100%; 
  padding: 10px; 
  border: var(--border-input-width) solid var(--border-input-color); 
  border-radius: var(--border-radius-200);
  box-sizing: border-box;
  margin-bottom: var(--size-space-200);
}
.password-box .description {
  margin-top: var(--size-radius-200);
  font-size: var(--small-body-font-size); 
  line-height: 1.5; 
  color: gray;
}

/*
    ADMIN:
*/
.toggle-permission {
  all: unset;
  background-color: var(--ISS-orange-color);
  color: black;
  border-radius: var(--border-radius-200);
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: var(--size-space-100);
}
.toggle-permission:hover {
  background-color: var(--ISS-orange-color);
  color: #fff;
  border-radius: var(--border-radius-200);
}