{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'helloapp/styles.css' %}"> <!-- Link to CSS file -->
</head>
<body>
    <!-- Top Navigation -->
    <div class="topnav">
        <a class="active" href="{% url 'homepage' %}">Home</a>
        {% if user.is_authenticated %} <!--is the user logged in?-->
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a> 
            <a href="{% url 'create_account_view' %}">Create Account</a> <!--only needed if not logged in-->
        {% endif %}

    </div>
    
    <!-- Page Content -->
    {% block content %}
    {% endblock %}
</body>
</html>
