{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="initial-scale=1, width=device-width"> < Website is opend at 100% zoom ("normal"); width is taken from screen dimensions -->
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'helloapp/styles.css' %}">  <!-- Link to CSS file -->
</head>
<body>
  
    <!-- Top Navigation -->
    <div class="topnav">
        <!-- Home -->
        <a class="title {% if request.path == '/' %}active{% endif %}" href="{% url 'homepage' %}">Home</a>

         {% if user.is_authenticated %} <!-- Dynamic Login/ Logout Button: is the user logged in?-->
            <!--Logout-->
            <form action="{%url 'logout'%}" method="post" class="nav-item">
                {% csrf_token %}
                <button type="submit" class="title">Logout</button>
            </form>
            {% if user.is_staff %}
                <a href="{% url 'admin_user_list' %}">Admin User Management</a> 
            {% endif %}  

        {% else %}
            <!-- Login -->
            <a class="title {% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a>
            <!-- Create Account (only needed if not already logged in)-->
            <a class="title {% if request.path == '/create-account/' %}active{% endif %}" href="{% url 'create_account_view' %}">Create Account</a>
        {% endif %}
    </div>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

</body>
</html>
