{% extends 'helloapp/base.html' %}

{% load static i18n %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <script src="{% static 'helloapp/main.js' %}" defer></script> <!-- Link to compiled JavaScript -->

    <div class="homepage-header">
        <img src="{% static 'images/no_background_iss_logo.png' %}" alt="Logo" class="iss_logo">
        <h1>ISS Buddy Program</h1>
    </div>


    <div class="hompage-body">
        <img src="{% static 'images/homepage_iss_cover_image.png' %}" alt="Group Photo" class="cover_image">

        <div class="homepage-text">
            <!--todo: wo machen wir das hin?-->
            {% if user.is_authenticated %}
                <p>{% trans "Your Name is:" %}{{ user.first_name }}!</p>
                <p>{% trans "Your Email is:" %}{{ user.email }}!</p>
            {% endif %}

            <h3>about us</h3>
            <p>todo: programbeschreibung; link zur nettiquette</p>

            <!--message from admin:-->
            <p class="admin-message">{{ homepage_text.content }}</p>
        </div>
        
    </div>
    

    <!--<p>{% trans "Hello, world!" %}</p>-->
    
    <!-- Das folgende ist nur zum testen, damit man beim nachvollziehen kann, als was man gerade angemeldet ist, aber eigtl ist das doch ne ganz coole Idee, das man namentlich begrüßt wird, oder?-->
    <!--{% if user.is_authenticated %}
    <p>{% trans "Your Name is:" %}{{ user.first_name }}!</p>
    <p>{% trans "Your Email is:" %}{{ user.email }}!</p>
    {% endif %} -->


    

    


    
    
{% endblock %}
