{% extends 'helloapp/base.html' %}

{% load static i18n %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <script src="{% static 'helloapp/main.js' %}" defer></script> <!-- Link to compiled JavaScript -->

    <div class="homepage-header">
        <img src="{% static 'images/no_background_iss_logo.png' %}" alt="Logo" class="iss_logo">
        <h1>ISS Buddy Program</h1>
    </div>


    <div class="homepage-body">
        <img src="{% static 'images/homepage_iss_cover_image.png' %}" alt="Group Photo" class="cover_image">

        <div class="homepage-text">
            <h3>about us</h3>
            <p>todo: programbeschreibung; link zur nettiquette</p>

            <!--message from admin:-->
            <p class="admin-message">{{ homepage_text.content }}</p>
        </div>
        
    </div>
       
    
{% endblock %}
